$brand-primary: #de3c60;
$brand-secondary: #b6da89;
$brand-success: #8ad130;
$brand-info: #9057b3;

$body-bg: #34495E;
$body-color: #f3f3f3;
$card-bg: #2C3E50;

$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: #fff;
$btn-attend-bg: #636c72;

$blockquote-border-color: rgba(236, 238, 239, 0.12);
$badge-success-color: rgba(0, 0, 0, 0.66);

$input-bg: #d2d2d2;
$input-bg-focus: #e4e4e4;
$input-border-color: $brand-primary;
$input-border-focus: $brand-primary;

$link-color: white;
